<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>295161732767-ns47i4ai6ibtitmcmr2dirjje0e465e7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.295161732767-ns47i4ai6ibtitmcmr2dirjje0e465e7</string>
	<key>API_KEY</key>
	<string>AIzaSyC06ouHjSy8DXc2zbOKVdJh4q0AilJkgUo</string>
	<key>GCM_SENDER_ID</key>
	<string>295161732767</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.briors.MedFlow</string>
	<key>PROJECT_ID</key>
	<string>medflow-31e35</string>
	<key>STORAGE_BUCKET</key>
	<string>medflow-31e35.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:295161732767:ios:4bc82bc406b9e7b487ccaa</string>
</dict>
</plist>